<section class="bg-white">
    <div class="lg:p-8">
      <div class="bg-purple-900 max-w-7xl mx-auto lg:rounded-3xl">
        <div class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 py-24">
          <div>
            <h2 class="text-white font-semibold tracking-tighter lg:text-5xl text-3xl">
              We look forward to hearing from you
            </h2>
            <p class="text-slate-300 mt-5 lg:text-balance">
              At Tustin Recruiting, we're looking for people with passion, grit, and integrity. 
              You're encouraged to apply even if your experience doesn't precisely match the job description. 
              Your skills and passion will stand out—and set you apart—especially if your career has taken 
              some extraordinary twists and turns. We welcome diverse perspectives and people who think 
              rigorously and aren't afraid to challenge assumptions. Join us.
            </p>
            <div
            class="mt-10 flex flex-col lg:flex-row justify-start gap-x-6 lg:ml-auto gap-y-4">
            <a
              class="text-white items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-500 hover:bg-blue-600 w-full lg:w-auto"
              title="link to your page"
                aria-label="your label" href="/system/overview">
                <svg
            xmlns="http://www.w3.org/2000/svg"
            class="icon icon-tabler icon-tabler-brand-linkedin"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round">
            <path
              stroke="none"
              d="M0 0h24v24H0z"
              fill="none"
            ></path>
            <path
              d="M4 4m0 2a2 2 0 0 1 2 -2h12a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-12a2 2 0 0 1 -2 -2z"
            ></path>
            <path d="M8 11l0 5"></path>
            <path d="M8 8l0 .01"></path>
            <path d="M12 16l0 -5"></path>
            <path d="M16 16v-3a2 2 0 0 0 -4 0"></path>
          </svg>
              Explora all pages
            </a><a
              class="text-blue-600 items-center font-medium gap-3 inline-flex focus-visible:outline-2 focus-visible:outline-offset-2 focus:outline-none justify-center px-6 lg:px-8 ring-2 ring-transparent focus:ring-offset-2 focus:ring-blue-500 duration-200 py-3.5 rounded-full active:bg-blue-800 active:text-white bg-blue-100 hover:bg-blue-50 w-full lg:w-auto"
              title="link to your page"
                aria-label="your label" href="https://lexingtonthemes.lemonsqueezy.com/checkout/buy/99afe682-cc70-4d85-b19a-debb968441b1">
              <span>Buy spaziobianco</span>
            </a>
          </div>
          </div>
        </div>
      </div>
    </div>
  </section>