<section>
  <div
    class="mx-auto max-w-7xl lg:px-16 md:px-12 px-8 xl:px-24 mt-24 z-50 items-center">
    <div class="lg:pr-24 md:pr-12 pb-12 lg:pb-0 max-w-2xl">
      <span class="text-sm uppercase font-medium tracking-wide text-blue-600"
        >About us</span
      >
      <h1
        class="text-purple-900 font-semibold mt-6 text-4xl lg:text-7xl tracking-tight">
        Orange County Recruiters
      </h1>
      <p class="text-slate-500 mt-5 lg:text-balance">
        Tustin Recruiting was founded with the goal of empowering people through great careers, and we remain committed to this mission today.
      </p>
      <p class="text-slate-500 mt-5 lg:text-balance">
        Our Orange County recruiters help some of the best companies in the world hire people faster and smarter. If you are looking to hire, or looking for a new role, please give us a call.

      </p>
    </div>
  </div>

  <section>
    <div
      class="h-64 justify-center lg:px-0 max-h-full md:px-12 overflow-hidden relativ -skew-y-[16deg] transform mb-24">
      <div class="bg-white block lg:flex-1 lg:relative sm:contents">
        <div class="bg-white absolute h-full inset-0 object-cover w-full">
          <video
            autoplay=""
            class="bg-white absolute max-w-none min-h-full min-w-full w-auto z-10"
            loop=""
            muted=""
            ><source
              src="/images/gradientA.mp4"
              type="video/mp4"
            />Your browser does not support the video tag.</video
          >
        </div>
      </div>
    </div>
  </section>
</section>
